<section id="homes">
    <!-- Contenedor del fondo binario -->
    <div id="binary-background"></div>

    <!-- Contenido de la presentación -->
    <div class="container text-center content">
        <img src="assets/gera.jpg" alt="Mi Foto" class="profile-img">
        <h1 class="title">¡Hola! Soy Juan Gerardo García Salazar</h1>
        <p class="description">
            Soy desarrollador de software con experiencia en frontend y backend,
            especializado en el desarrollo de aplicaciones web y móviles.
            Tengo sólidos conocimientos en <strong>Angular, Java, Ionic, Net
                MAUI, Node.js, Laravel,
                PostgreSQL, MSSQL, MySQL y MongoDB</strong>.
            He trabajado en proyectos de <strong>finanzas, comercio y
                automatización de procesos</strong>.
            Me apasiona aprender nuevas tecnologías y mejorar continuamente mis
            desarrollos.
        </p>
    </div>
</section>
